
<div class="container">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav me-auto">
            <li class="nav-item" routerLinkActive="Active">
              <a class="nav-link"  (click)="ViewGrid()" >Safes</a>
            </li>
            
            <li class="nav-item" routerLinkActive="Active">
              <a class="nav-link"  routerLink="/Users" >Users</a>
            </li>
          
           
          </ul>
      </div>
     
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ms-auto">
             
              <li class="nav-item">
                <a class="nav-link" (click)="log_title()" routerLink="/Login" >{{Loginlinktitle}}</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

</div>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>

