
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<ul class="nav nav-tabs">
  <li class="nav-item" routerLinkActive="active" 
                      [routerLinkActiveOptions]="{exact: true}" >
    <a class="nav-link" aria-current="page"   routerLink="/">ISCORE</a>
  </li>
  <li class="nav-item" routerLinkActive="Active">
    <a class="nav-link"  routerLink="/users/1">Users</a>
  </li>
  <li class="nav-item"  routerLinkActive="Active">
    <a class="nav-link" routerLink="/servers">Servers</a>
  </li>
  <li class="nav-item"  routerLinkActive="Active">
    <a class="nav-link" routerLink="/servers2">Servers2</a>
  </li>
  <li class="nav-item"  routerLinkActive="Active">
    <a class="nav-link" routerLink="/servers3">resolver example</a>
  </li>
  
</ul>
</div>
</div>

<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>

</div>


