<div class="container">
    <br>
    <div class="row">
        <div class="col-1">Filter</div>
        <div class="col-4"><input type="text" class="form-control" (keyup)="onfilter($event)"></div>
    
    </div>
    <div class="row">
<br>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Safe Number</th>
              <th scope="col">Type</th>
              <th scope="col">Holding Branch</th>
              <th scope="col">rental</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
    <tbody>
        <tr *ngFor="let s of SafeBoxesCopy">
            <td>
                {{s.No}}
            </td>
            <td>
                {{s.Type}}
            </td>
 
            <td>
                {{s.holdingBranch}}
            </td>
 
            <td>
                {{s.Rental}}
            </td>
            <td><button type="button" class="btn btn-primary" (click)="onedit(s.No)">Add Visit</button>
 
        </tr>
    </tbody>
    </table>
</div>
</div>
